<ActionBar class="action-bar">
    <Label class="action-bar-title" text="Home"></Label>
</ActionBar>

<StackLayout>
    <Button text="open modal" (tap)="modalTap()"></Button>
    <!-- <Button text="print home line" (tap)="printTimeline()"></Button> -->

    <GridLayout (swipe)="onSwipe($event)" class="page page-content">

        <ListView [items]="items" (itemTap)="itemTapped($event)" class="list-group">
            <ng-template let-item="item" >
                <!-- <Label [text]="item.fromUser"></Label> -->
                item.fromUser
                <Label [nsRouterLink]="['../item', item.id]" [text]="item.text" class="list-group-item"></Label>
                
            </ng-template>
        </ListView>
    </GridLayout> 
</StackLayout>